*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
	--color-black: #222222;
	--color-white: #f7f7f7;
	--color-light-gray: #eeeeee;
	--color-light-gray-2: #f2f2f2;
	--color-gray: #777777;
	--color-dark-gray: #4e4e4e;
	--color-highlight-1: #ee6e73;
}

body {
	background: var(--color-black);
	background-image: url("images/background-image.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: 100%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-gray);
}

.container {
	background-color: var(--color-black);
	width: 100%;
	max-width: 1200px;
}

.content {
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	background-color: var(--color-white);
}

.web-design {
	background: transparent;
	padding: 2rem 0;
}

h1,
h2 {
	font-family: "Open Sans Condensed";
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: 700;
	font-size: 5.5rem;
	color: var(--color-gray);
	text-align: center;
	letter-spacing: 1px;
	margin: 0;
}

h2 {
	line-height: 1.1;
	font-size: 4rem;
	text-align: left;
	padding-bottom: 2.5rem;
}

p,
.p_small {
	line-height: 1.6;
	font-weight: 300;
	font-size: 1.7rem;
	color: var(--color-gray);
	text-align: justify;
	padding: 0 0 1.5rem;
}

p:last-of-type {
	margin-bottom: 0;
}

.p_small {
	font-size: 1rem;
	line-height: 1.7;
	text-align: justify;
}

a {
	font-size: 1.6rem;
	text-decoration: none;
	color: inherit;
}

nav {
	background: var(--color-dark-gray);
}

/* MEDIA QUERIES */

/* MEDIA QUERIES */

/* MEDIA QUERIES */